@import './base.css';

#app {
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(217, 100%, 43%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(217, 100%, 43%, 0.2);
  }
}

body {
	display: flex;
	place-items: center;
}

